.div-movie-item {
  padding: 10px;
  border: 1px blue solid;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}
.p-title{
  font-size: 16px;
}
.p-description{
  font-size: 14px;
}
.p-year{
  font-size: 10px;
}
.p-director{
  font-size: 10px;
  font-weight: bold;
}

.p-text{
  color:blue
}
